.logo{
    width: 100px;
    border-radius:7px ;
}
.main{
    background-color: black;
}
.logoname{
    color: darkgoldenrod;
}
img{
    
    box-shadow: 15px 15px 9px black;
    width: 70rem;
}
.sec{
    background-color: darkslategray;
}
.thi{
    background-color: darkolivegreen ;

}
.se{
background-color: slategray;
}

.logo2name{
    color: darkgoldenrod;
}
Span{
   color: darkgoldenrod; 
}
.tru{
    color: lavenderblush;
}
.name{
    color: black;
}
.me{
    color: darkgoldenrod;
}
.cc{
    color: aliceblue;
}